aiohttp==3.9.3
aiosignal==1.3.1
asttokens==2.4.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
boltons @ file:///C:/ci_311/boltons_1677729932371/work
brotlipy==0.7.0
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/ci_311/cffi_1676423759166/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm==0.1.4
conda @ file:///C:/b/abs_b5q92oum8h/croot/conda_1689272261421/work
conda-content-trust @ file:///C:/ci_311/conda-content-trust_1676467587370/work
conda-libmamba-solver @ file:///C:/b/abs_5a9xvt2a3k/croot/conda-libmamba-solver_1685032355900/work/src
conda-package-handling @ file:///C:/b/abs_ce4_vcfd0y/croot/conda-package-handling_1685024800103/work
conda_package_streaming @ file:///C:/b/abs_88a7k_wmm1/croot/conda-package-streaming_1685019697115/work
contourpy==1.2.0
cryptography @ file:///C:/b/abs_b28tzldafl/croot/cryptography_1686613103834/work
cycler==0.12.1
datasets==2.18.0
debugpy==1.8.0
decorator==5.1.1
dill==0.3.8
distlib==0.3.8
et-xmlfile==1.1.0
executing==2.0.0
filelock==3.13.1
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.2.0
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.21.3
hyperframe==5.2.0
idna==2.10
ipykernel==6.26.0
ipython==8.16.1
jedi==0.19.1
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jupyter_client==8.5.0
jupyter_core==5.4.0
kiwisolver==1.4.5
libmambapy @ file:///C:/b/abs_f0tnqlkcbn/croot/mamba-split_1685993165748/work/libmambapy
lxml==5.1.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
multidict==6.0.5
multiprocess==0.70.16
nest-asyncio==1.5.8
numpy==1.26.1
opencv-python==4.9.0.80
openpyxl==3.1.2
outcome==1.3.0.post0
packaging @ file:///C:/b/abs_ed_kb9w6g4/croot/packaging_1678965418855/work
pandas==2.1.2
parso==0.8.3
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.11.0
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
prompt-toolkit==3.0.39
psutil==5.9.6
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycosat @ file:///C:/ci_311/pycosat_1676438455539/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.16.1
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work
pyparsing==3.1.2
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
rfc3986==1.5.0
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
screeninfo==0.8.1
selenium==4.14.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sjvisualizer==0.0.13
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
toolz @ file:///C:/ci_311/toolz_1676431406517/work
tornado==6.3.3
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets==5.12.0
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2023.3
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
virtualenv==20.25.1
wcwidth==0.2.8
webdriver-manager==4.0.1
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
word2number==1.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zstandard==0.19.0
